<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="userPoolId" value=""/>
    <add key="clientId" value=""/>
    <add key="identityPoolId" value=""/>
    <add key="username" value=""/>
    <add key="password" value=""/>
  </appSettings>
</configuration>